@model List<IGrouping<string, PainTrax.Web.ViewModel.DaignoCodeVM>>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modeltitle">Select Diagnosis for @ViewBag.BodyPart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnDaignoCode">Save changes</button>
    </div>
    <div class="modal-body">
        @foreach (var group in Model)
        {
            <div class="diag-group" data-group="@group.Key">
                <h5>@group.Key</h5>

                <table class="table table-hover md-4">
                    <tbody>
                        @foreach (var item in group)
                        {
                            var isChecked = item.IsSelect ? "checked" : "";

                            <tr>
                                <td><input type="checkbox" @isChecked /></td>
                                <td>@item.DiagCode</td>
                                <td>
                                    <input type="text" class="form-control" value="@item.Description" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    @* <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnDaignoCode">Save changes</button>
    </div> *@
</div>


<script>

            $("#btnDaignoCode").click(function () {

        var finalHtml = "";
        var bodyPart = $("#hdSelectedBody").val();
        finalHtml = $("#divDiagnosis").html();
        // Loop each group table (or wrapper)
        $(".diag-group").each(function () {

            var groupName = $(this).data("group"); // group name
            var groupHtml = "";


            $(this).find("input[type=checkbox]:checked").each(function () {

                var row = $(this).closest("tr")[0];

                var code = row.cells[1].innerHTML;
                var desc = row.cells[2].querySelector('input[type="text"]').value;

                groupHtml += "<li>" + code + " " + desc + "</li>";
            });


            // Only add group if it has selected items
            if (groupHtml !== "") {
                 finalHtml +=  groupHtml;
            }

        });

        $("#divDiagnosis").html(finalHtml);
      

        $('#daignoCodeModal').modal('hide');
        return false;
    });


</script>